/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px "Open sans",sans-serif;
  color: #555;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: gray;
}

a:hover {
  opacity: 1;
}

a.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section {
  top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 100px 80px;
  padding-bottom: 78px; */
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto auto;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  /* max-width: 800px; */
  line-height: 2;
  padding: 0 20px;
  margin: 0 30px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
}

/* Header Styles */
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  opacity: 1;
  color: #000;
  z-index: 1;
  background: white;
  border-bottom: 1px solid black;
}

header h2, nav {
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media screen and (max-width: 800px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  header h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 378px) {
  header h2 {
    font-size: 18px;
  }
}

/* Hero Styles */
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  /* min-height: 70vh; */
  min-height: 400px;
  color: gray;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

.hero h1 {
  font: bold 60px "Quicksand", sans-serif;
  /* margin-bottom: 15px; */
  margin: 10px 0;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 25px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.hero .icon-bar {
  position: fixed;
  left: -64px;
  right: auto;
  background-color: #000;
  border-radius: 5px;
  animation: 1s slideInRight 2s forwards;
}

@keyframes slideInRight {
  100% {
    left: 0;
  }
}

.hero .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
}

.hero .icon-bar a:hover: {
  opacity: 1;
  background-color: #000;
}

.hero img#logo {
  height: 85%;
  width: 85%;
}

@media screen and (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }

  .hero img#logo {
    height: 75%;
    width: 75%;
  }
}

/* Releases Section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 3rem;
}

@media screen and (max-width: 387px) {
  .container {
    padding: 0 1rem;
  }
}

.responsive-image {
  max-width: 100%;
  transition: 0.3s ease;
  cursor: pointer;
}

.responsive-image:hover,
.close:hover,
.close:focus {
  transform: scale(1.1, 1.1);
}

.b-lazy.b-loaded {
  opacity: 0;
  animation: 2.5s fadeResImg forwards;
}

@keyframes fadeResImg {
  100% {
    opacity: 1;
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

/* Modal Section */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s ease;
    cursor: pointer;
}

.modal-header,
.modal-footer {
    padding: 15px 25px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  min-height: 450px;
  margin: 0 40px;
}
.modal-body h1,
.modal-body h2,
.modal-body h4,
.modal-body ol {
  padding: 3px;
}

.modal-body .blurbs {
  align-items: flex-start;
}

.modal-body p {
  padding: 15px;
}

.modal-body h1 {
  font-family: "Quicksand", sans-serif;
}

.modal-body ul {
  display: flex;
  list-style: none;
}

.modal-img {
  height: auto;
  width: 400px;
  padding: 10px 0;
}

.modal-body .rDate {
  opacity: 0.5;
}

.button {
    width: 64px;
    height: auto;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 3px;
}
.button img {
    width: 32px;
    height: auto;
}
.beatport {
    background-color: #141414;
}
.traxsource {
    background-color: #262626;
}
.soundcloud {
    background-color: #FF3300;
}
.spotify {
    background-color: #1DB954;
    color: #000;
}

@media screen and (max-width: 600px) {
  .close {
    margin: -10px;
  }

  .modal-body {
    padding: 10px 0;
    margin: 0 20px;
  }

  .modal-img {
    width: 90%;
  }

  .modal-body h1,
  .modal-body h2,
  .modal-body h4 {
    padding: 0;
  }

  .modal-body h1,
  .modal-body h2 {
    display: none;
  }

  .modal-body ol {
    font-size: 0.9em;
    padding: 5px 10px;
  }

  .modal-body p {
    padding: 10px;
  }
}

@media screen and (max-width: 378px) {
  .modal-body {
    margin: 0 20px;
    padding: 0;
  }

  .close {
    margin: -20px;
  }

  .modal-img {
    width: 250px;
  }

  .modal-body h1,
  .modal-body h2,
  .modal-body h4 {
    padding: 0;
  }

  .modal-body h1,
  .modal-body h2 {
    display: none;
  }

  .modal-body ol {
    font-size: 0.8em;
    padding: 5px 10px;
  }

  .modal-body p {
    padding: 10px 0;
  }

  .modal-body ul {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 3px;
  }
  .modal-body ul li {
    padding-bottom: 5px;
  }
}

/* Contact Section */
.contact {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  /* border-radius: 10px; */
  /* color: #000; */
  padding: 15px 0;

  /* Shadows */
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.5);
}

@media screen and (max-width: 986px) {
  .contact {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .contact {
    width: 95%;
  }
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px 10px;
}

.contact label {
  margin-bottom: 5px;
  font-weight: 700;
}

.contact form input, .contact form textarea, .contact form button {
  padding: 10px;
  font-size: 16px;
  color: #555;
  flex: 1;
  width: 80%;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
  .contact form input, .contact form textarea, .contact form button {
    flex-basis: 100%;
    /* margin: 0 0 20px 0; */
  }
}

.contact form .btn {
  padding: 18px 42px;
  margin-bottom: 10px;
}

.contact form .btn:hover {
  cursor: pointer;
  background: rgba(226,226,226,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(209,209,209,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%);
  background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=1 );
}

.contact #error_message {
  color: red;
  padding-bottom: 10px;
}

.contact #success_message {
  color: green;
}

/* Footer Section */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  border-top: 1px solid black;
  margin-top: 78px;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 8px;
  }
}
